iframe.video {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.image.logo {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin: 0;
}

.image.logo img {
    vertical-align: middle;
    align-self: center;
}

.title-container {
    position: relative;
}

.title {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.gallery-container{
    margin: auto;
    text-align: center;
}

.gallery{
    margin: 0.4%;
    width: 48%;
    aspect-ratio: 16 / 9;
}

.wrapper.spotlight:nth-child(2n - 1) .image {
    margin: auto 0 auto 3em;
    text-align: center;
    align-self: center;
}

#footer .inner {
    padding: 5em 0 1em 0;
}

.features article .image {
    text-align: center;
}

.features article .image img {
    border-radius: 5px 5px 0 0;
    width: auto;
    height: auto;
    max-height: 245px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}